.javascript-level {
	display: flex;
	padding: 60px 20px 65px;

	@media screen and (min-width: 1px) and (max-width: 479px) {
		flex-wrap: wrap;
	}
}

.javascript-level__chart-container {
	position: relative;
	margin-right: 65px;
	max-width: 253px;

	@media screen and (min-width: 480px) and (max-width: 767px) {
		margin-right: 40px;
		max-width: 200px;
	}

	@media screen and (min-width: 1px) and (max-width: 479px) {
		margin-right: 0;
		margin-bottom: 30px;
	}
}

.javascript-level__chart {
	width: 100%;
}

.javascript-level__indicator {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(calc(-100% + 15px)) rotate(0);
	transform-origin: calc(100% - 15px) 50%;
	transition: 1.8s ease;

	@media screen and (min-width: 480px) and (max-width: 767px) {
		max-width: 60px;
	}
}

.javascript-level__value {
	position: relative;
	font-family: $font-title;
	font-weight: 900;
	font-size: 50px;
	line-height: 1;
	color: $color-accent;
}

.javascript-level__shadow {
	position: absolute;
	right: 0;
	opacity: 0.3;
}
