block vars

doctype html
html
	head
		block head-start
		block meta
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible" content="IE=edge")
			meta(name="viewport" content="width=device-width")
		block styles
			link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap&subset=cyrillic")
			link(rel="stylesheet" href="./css/main.css")
		block head-end
	body
		block body-start
		block content
		include main.pug
		block scripts
			script(src="./js/vendor.js")
			script(src="./js/main.js")
		block body-end
