.form__basic-info.basic-info
    .basic-info__photo-container
        img.basic-info__photo(src="./images/photo.jpg" srcset="./images/photo@2x.jpg 2x" alt="Фотография")
    fieldset.basic-info__about
        input.basic-info__input(type="text" name="name" placeholder="Имя" value="Вадим Филимонов")
        input.basic-info__input(type="text" name="birthday" placeholder="Дата рождения" value="22.05.1994")
        input.basic-info__input(type="text" name="city" placeholder="Город" value="Краснодар")
        input.basic-info__input(type="text" name="contacts" placeholder="Контактные данные" value="+7 (962) 858-22-55 philimonovvadim@gmail.com")
