.form__javascript-level.javascript-level
    .javascript-level__chart-container
        img.javascript-level__chart(src="./images/chart.png" alt="График")
        img.javascript-level__indicator.js-level-indicator(src="./images/arrow.png" alt="Указатель")
    .javascript-level__content
        h2.javascript-level__subtitle.subtitle Мой уровень владения <br/> Java Script
        span.javascript-level__value.js-level-value 0