main.container
    .container__inner.grid-container
        form#form.form(action="https://private-6b982-vadimfilimonov.apiary-mock.com/sendform")
            include basic-info.pug
            include skills.pug
            include javascript-level.pug
            input.form__button.visually-hidden(type="submit" value="Отправить")
