*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	border: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	clip: rect(1px, 1px, 1px, 1px);
}
