// stylelint-disable scss/dollar-variable-empty-line-before

// FOUNDATION OVERRIDE
$grid-container: 660px;

// COLORS

$color-black: #000;
$color-white: #fff;
$color-blue: #0093d7;
$color-green: #a3cd3b;
$color-yellow: #ffc815;

$color-title: #010101;
$color-text: #666;
$color-bg: #fdfcfa;
$color-accent: $color-blue;
$color-border: #333;

// FONTS
$font-title: "Roboto", sans-serif;
$font-text: "Roboto", sans-serif;